/* ui/css/font.css */
/* NOTE: đang dùng Roboto bản thường (không Condensed/SemiCondensed)
   Nếu muốn đổi font: sửa src sang Roboto_SemiCondensed-*.ttf hoặc Roboto_Condensed-*.ttf */

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* áp dụng toàn app */
:root {
  --app-font: "RobotoLocal", "Segoe UI", Tahoma, Arial, sans-serif;
}

html,
body {
  font-family: var(--app-font);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

/* ✅ cực quan trọng: ép font cho toàn bộ form controls */
button,
input,
select,
textarea {
  font-family: var(--app-font);
}

/* ✅ nếu mày dùng contenteditable (#msg) thì ép luôn */
[contenteditable="true"],
[contenteditable="false"] {
  font-family: var(--app-font);
}
